USE [master]
GO
/****** Object:  Database [DUOED]    Script Date: 10/24/2023 11:39:42 PM ******/
CREATE DATABASE [DUOED]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DUOED', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DUOED.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DUOED_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DUOED_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DUOED].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DUOED]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 10/24/2023 11:39:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[matchID] [varchar](20) NOT NULL,
	[matchResult] [varchar](4) NOT NULL,
	[matchQueue] [varchar](10) NULL,
	[matchDuration] [int] NULL,
 CONSTRAINT [matchID] UNIQUE NONCLUSTERED 
(
	[matchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participants]    Script Date: 10/24/2023 11:39:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participants](
	[matchID] [varchar](20) NOT NULL,
	[teamID] [varchar](5) NOT NULL,
	[summonerName] [varchar](50) NOT NULL,
	[teamPosition] [varchar](10) NOT NULL,
	[championName] [varchar](50) NOT NULL,
	[kda] [float] NULL,
	[kills] [int] NULL,
	[deaths] [int] NULL,
	[assists] [int] NULL,
	[killParticipation] [float] NULL,
	[physicalDamageDealtToChampions] [int] NULL,
	[magicDamageDealtToChampions] [int] NULL,
	[trueDamageDealtToChampions] [int] NULL,
	[totalDamageDealtToChampions] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
