<!DOCTYPE html>
<html>
<head>
  <title>DUOED</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="bodyContainer">
        <header>
            <div class="banner">
                <img src="{{ url_for('static', filename='LeagueMetricsLogo.png') }}" alt="League Metrics Logo" class="logo">
                {% if username %}
                    <nav class="uNav">
                        <span>{{ username }}</span>
                        <a href="{{ url_for('logout') }}">Sign Out</a>
                    </nav>
                {% else %}
                    <nav class="uNav">
                        <a href="login">Login</a>
                        <a href="signup">Sign Up</a>
                    </nav>
                {% endif %}
            </div>
            <!--<p class="loginName">Login Name goes here</p>-->
            <main>
                <div class="navbars">
                    <div class="generalNav">
                        <nav class="genNav">
                            <a href="{{ url_for('home') }}"><span>Home</span></a>
                            <a href="{{ url_for('about') }}"><span>About</span></a>
                            <a href="{{ url_for('account') }}"><span>Account</span></a>
                            <a href="{{ url_for('lookup_duo') }}"><span>Lookup Duo</span></a>
                            <a href="{{ url_for('lookup_team') }}"><span>Lookup Team</span></a>
                            <a href="{{ url_for('self_stat') }}"><span>Lookup Stats</span></a>
                        </nav>
                    </div>
                    
                    <table class="accountinfo">
                        <tr>
                            <td>Username:</td>
                            <td>{{ username }}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{ email }}</td>
                        </tr>
                        <tr>
                            <td>League of Legends Name:</td>
                            <td>{{ gamertag }}</td>
                        </tr>
                    </table>
                    
                </div>
            </main>
        </header>
    </div>
    
  <footer>&copy;DUOED</footer>
  <script src="script.js"></script>
</body>
</html>