<!DOCTYPE html>
<html>
<head>
  <title>DUOED</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="bodyContainer">
        <header>
            <div class="banner">
                
                <img src="{{ url_for('static', filename='LeagueMetricsLogo.png') }}" alt="League Metrics Logo" class="logo">
                {% if username %}
                    <nav class="uNav">
                        <span>{{ username }}</span>
                        <a href="{{ url_for('logout') }}">Sign Out</a>
                    </nav>
                {% else %}
                    <nav class="uNav">
                        <a href="login">Login</a>
                        <a href="signup">Sign Up</a>
                    </nav>
                {% endif %}
            </div>
            <!--<p class="loginName">Login Name goes here</p>-->
            <div class="navbars">
                <div class="generalNav">
                    <nav class="genNav">
                        <a href="{{ url_for('home') }}"><span>Home</span></a>
                        <a href="{{ url_for('about') }}"><span>About</span></a>
                        <a href="{{ url_for('account') }}"><span>Account</span></a>
                        <a href="{{ url_for('lookup_duo') }}"><span>Lookup Duo</span></a>
                        <a href="{{ url_for('lookup_team') }}"><span>Lookup Team</span></a>
                        <a href="{{ url_for('self_stat') }}"><span>Lookup Stats</span></a>
                    </nav>
                    <p class="description">
                        Welcome to LegendMetrics! We’re revolutionizing the way you view statistics in League of Legends (LoL). Unlike other stat sites, we focus on teamwork and synergy. We provide detailed player stats and unique insights into group play and player combinations. We track performance across various queues, including Duo Queue, Flex Queue, Clash, and custom games. Designed by active LoL competitors, LegendMetrics is your one-stop solution for comprehensive, group-focused statistics. Elevate your gameplay with us today!
                    </p>
                </div>
            </div>
        </header>
    </div>
  <main>
  </main>
  <footer>&copy;DUOED</footer>
  <script></script>
</body>
</html>